.custom-shape-divider-bottom-1678592172 {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1678592172 svg {
    position: relative;
    display: block;
    width: calc(147% + 1.3px);
    height: 130px;
}

.custom-shape-divider-bottom-1678592172 .shape-fill {
    fill: #FFFFFF;
}